div{
  border-color: blue;
  margin: 20px;
}

.topnav {
  background-color: #white;
  overflow: hidden;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, sans-serif;
}
  
.topnav a:hover {
  background-color: white;
  color: #0062ff;
  transition: color .2s ease-in;
}

#highlight {
  border-width: 5px;
  background-color: #e6e6e6;
  height: 1100px;
  width: auto;
}

#bold {
  background-color: #787878;
}
